.accordion {
    width: 100%;
}

.panel {
    border: solid 1px #6f968e;
    margin: 3vh 1vw;
}

.panel.new-array-item {
    border: solid 1px #DFA5AD;
    color: #DFA5AD;
    margin: 3vh 1vw;
}

.panel-label-container {
    display: flex;
}

.panel-label-container .panel-remove-button {
    width: 10vw;
    border: none;
    background: none;
    text-align: center;
}

.panel__label {
    padding: 2.5vh 12vw 2.5vh 7vw;
    position: relative;
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
}

.panel__label:focus {
    outline: none;
}

.panel__label:after, .panel__label:before {
    content: "";
    position: absolute;
    right: 4vw;
    top: 50%;
    width: 22px;
    height: 2px;
    margin-top: -2px;
    background-color: #6f968e;
}

.new-array-item .panel__label:after, .new-array-item .panel__label:before {
    background-color: #DFA5AD;
}

.panel__label:before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: -webkit-transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.panel[aria-expanded="true"] .panel__content {
    opacity: 1;
}

.panel[aria-expanded="true"] .panel__label {
    font-weight: bold;
}

.panel[aria-expanded="true"] .panel__label:before {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.panel__content {
    margin: 5px 25px 25px;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear 0.18s;
    transition: opacity 0.3s linear 0.18s;
}

.panel:not(:last-child) {
    margin-bottom: 3px;
}

.accordion .panel {
    font-size: 4.5vw;
}

button#add-new-item {
    background-color: var(--color-dark);
    border: none;
    color: white;
    margin: 2vh 1vw;
    padding: 1.5vh 3vw;
    font-size: 2.5vh;
}