.admin-page {
  margin: 8vh 2vw;
  padding: 1vh 1vw;
}

.admin-page .admin-button {
  background-color: var(--color-dark);
  border: 0px;
  margin: 4vh 1vw;
  padding: 2vh 4vw;
  cursor: pointer;
  color: #fff;
}

.admin-button a {
  color: #fff;
}

.prop-content {
  padding: 2vh 4vw;
  margin: 1vh 1vw;
  white-space: pre-wrap;
}

.prop-content[contenteditable=true] {
  background: #FBFBFA;
}

.prop-content[contenteditable=true].unsaved {
  color: #C7818B;
}

.prop-content[contenteditable=true]:focus {
  background: #FBFBFA;
}

.quest-props {
  margin: 3vh 4vw;
}

.quest-prop {
  margin: 5vh 0;
}

.prop-title {
  font-weight: bold;
}