@import url(https://fonts.googleapis.com/css?family=Arsenal&subset=cyrillic);
body {
    font-family: 'Arsenal', sans-serif;
    color: #073c4e;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f2f3ed;
}

#sticky-title {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    background-color: #444;
    color: #fff;
    position: fixed;
    top: 7px;
    left: 0;
    width: 100%;
    opacity: 0.7;
}

#questions-section {
    overflow: auto;
    padding: 15vh 5vw 3vh 5vw;
}

#question {
    margin: 30px 0px;
    font-size: 7.5vw;
}

#answer-input.incorrect {
    border-color: #ff8e61;
    box-shadow: inset 1px 1px 6px #df744a;
}

#answer-input {
    width: 60vw;
    margin: 30px 0;
    padding: 2vw;
    font-size: 5vw;
    border: solid 1px #7a9d96;
}

#answer-input:active {
    border: solid 1px #7a9d96;
}

.button-holder {
    margin-top: 30px;
}

#submit {
    font-size: 6vw;
    background-color: #7a9d96;
    color: #fff;
    border: 0px;
    padding: 2.2vh 6vw;
    cursor: pointer;
}

#hint-container {
    font-size: 5.5vw;
    margin: 10px 0 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 7vh;
}

.question-img {
    height: auto;
    margin-top: 2vh;
}

.question-img:first-child:nth-last-child(6), .question-img:first-child:nth-last-child(6) ~ .question-img {
    width: 30%;
}
.question-img:first-child:nth-last-child(4), .question-img:first-child:nth-last-child(4) ~ .question-img {
    width: 45%;
}
.question-img:first-child:nth-last-child(3), .question-img:first-child:nth-last-child(3) ~ .question-img {
    width: 30%;
}
.question-img:first-child:nth-last-child(2), .question-img:first-child:nth-last-child(2) ~ .question-img {
    width: 45%;
}

#spinner, #hint {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#hint, #timer {
    text-align: center;
    vertical-align: middle;
}

img {
    text-justify: auto;
    width: 90%;
    height: auto;
    border: 3px solid #7a9d96;
}

#hint-query {
    cursor: pointer;
    border-bottom: 1px dotted;
}

#spinner {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: solid 4px #7a9d96;
    border-radius: 50%;
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
    -webkit-animation: circle infinite .75s linear;
    -moz-animation: circle infinite .75s linear;
    animation: circle infinite .75s linear;
    border-top: 4px solid #a3d1c7;
}


/* Hint Loading effect */

@keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* Penalties section */

#penalties {
    width: 60vw;
    margin: auto;
    margin-top: 7vh;
    padding-top: 3vh;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px dotted;
}

#penalties-wrong-answers-label {
    color: #7a9d96;
    font-size: 12vw;
    font-weight: bold;
}

svg {
    margin-left: 8vw;
}

.penalties-units {
    font-size: 7vw;
    margin: 0 8px;
}


/* Modal image */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: absolute;
    width: 92%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) and (orientation: landscape) {
    .modal-content {
        width: auto;
        height: 94%;
    }
}


/* Tooltip text */

.tooltip-container {
    position: relative;
}

.tooltip-container .tooltip {
    position: absolute;
    display: none;
    font-weight: normal;
    font-size: 4vw;
    width: 45vw;
    background-color: black;
    opacity: 0.7;
    color: #fff;
    text-align: center;
    padding: 4px;
    border-radius: 3px;
    z-index: 1;
    top: -6vh;
    left: 0vw;
}

.tooltip-container:hover .tooltip {
    display: block;
}


/* Test */

div.highlight {
    border-color: #ff8e61;
    box-shadow: inset 1px 1px 6px #df744a;
}